/*
 * Empty Stylesheet file.
 */

.submit-button{

    -fx-text-fill: #FFFFFF;

    -fx-background-color: #167AC6; /*linear-gradient(#167AC6, #0A385C);*/

}

.submit-button:hover{

    -fx-background-color: #0A385C;

}
